*~
.DS_Store

node_modules
node_modules_*
node_modules-*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


doc/_build


# playground test files
zoo_dbdata_output*.json

_output_resource_graphics_files/
out_test.html
out_test_2.html


# created by test load peopledb in 'yarn test'
_zoodb_citations_cache


# my handy symbolic link to the flm sources' location
flm-src


.11ty-parcel-temp
.parcel-cache
